[2017-06-20 17:17] Serabe opened #3 "Add babelfish favicon before deploying."

[2017-06-20 20:07] erizocosmico commented on #3
That's already done in my pr with the boilerplate from cra
On Tue, 20 Jun 2017 at 19:17, Sergio Arbeo <notifications@github.com<mailto:notifications@github.com>> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/bblfsh/dashboard/issues/3>, or mute the thread<https://github.com/notifications/unsubscribe-aut

[2017-07-03 08:31] #3 closed

[2017-07-20 13:43] Serabe opened #31 "Enhance the expand nodes implementation"

[2017-07-20 13:44] erizocosmico commented on #31
Is not the expand nodes itself, but the indexing of nodes done using the react component instance itself in the index.

[2017-07-20 15:46] Serabe opened #32 "Add hide / show location checkbox"
Add a checkbox to show / hide the location data for nodes.

It should be hidden by default.

[2017-07-20 15:51] Serabe opened #33 "Add configuration in Dashboard for the bblfsh server to use"
The URL of the bblfsh server to use to parse the files need to be configurable.

This configuration would need to allow the user to select the default url.

[2017-07-21 09:08] erizocosmico commented on #33
https://github.com/bblfsh/dashboard/pull/34

[2017-07-21 09:08] erizocosmico commented on #32
PR: https://github.com/bblfsh/dashboard/pull/34

[2017-07-21 09:30] erizocosmico opened #35 "roles are shown as number and not text"
We should have a mapping between role numbers and strings

![screenshot_2017-07-21_11 36 32](https://user-images.githubusercontent.com/1312023/28458129-e60ef600-6e08-11e7-80df-a380a46c1455.png)

[2017-07-21 09:53] #32 closed

[2017-07-21 09:53] #33 closed

[2017-07-21 10:31] erizocosmico commented on #35
PR: https://github.com/bblfsh/dashboard/pull/36

[2017-07-21 11:10] #35 closed

[2017-07-26 20:04] mcuadros opened #37 "Improve the documentation and readme"
We should explain the architecture, expand the README and add some screenshots.

[2017-07-26 20:06] mcuadros opened #38 "Allow xpath searches"
We should allow xpath queries at the dashboard to be able to test and debug queries. A nice to have could be having a small xpath editor, to help the creation.

Requires having a client-go, still in planning phase.

/cc @abeaumont @juanjux @manucorporat

[2017-08-10 13:14] EgorBu opened #39 "Request for examples"
Hi,
It will be really nice to have some examples of usages of dashboard, goals, what can be done and so on.
So everybody can easily understand if it's suitable for their needs

[2017-08-10 13:19] mcuadros commented on #39
duplicate https://github.com/bblfsh/dashboard/issues/37

[2017-08-10 13:19] #39 closed

[2017-08-10 13:21] dpordomingo commented on #37
In the meantime here is a quick screenshot in case it can help someone; there is no extra/hidden info so it could may be useful for someone.
![image](https://user-images.githubusercontent.com/2437584/29172123-397a525e-7ddf-11e7-82ac-1f6ebe6db918.png)

[2017-08-10 15:31] eiso commented on #37
Minor:

`dashboard-server -bblfsh-addr=0.0.0.0:9432` to `dashboard-server --bblfsh-addr=0.0.0.0:9432`

[2017-08-24 16:15] marnovo opened #41 "Add binary releases to README"
Now that there are binary releases for macOS and Linux it is a good idea to add it to the README as one alternative.
https://github.com/bblfsh/dashboard/releases

[2017-08-27 23:02] EgorBu opened #42 "[improvement] add tree-like visualization"
Hi,
I used dashboard a bit and found that it's still hard to understand.
When you use UAST from bblfsh as text - it's really verbose (even if you hide some attributes of nodes).
+ it's hard to read structure of code
It will be really great to have tree visualization, so the structure will be easily readable + show attributes of a node by click (or just pointing by mouse, or show token always - eve

[2017-08-30 12:28] marnovo commented on #38
Is the current state of `client-go` capable of this?

[2017-08-30 14:40] marnovo commented on #31
@erizocosmico can you help me and @dpordomingo understand what was the issue? Thanks!

[2017-08-30 14:44] erizocosmico commented on #31
@marnovo it's not like it's a pressing issue, this issue was just to remember that the whole node indexing thing was done with a React anti-pattern.

[2017-08-30 15:00] marnovo opened #44 "Load GitHub gist URLs"
@Serabe, weren't you working on this feature? Do you have a local branch on it or so? Thank you!

[2017-09-01 09:13] dpordomingo commented on #31
thanks @erizocosmico for the clarification !

[2017-09-01 14:22] dpordomingo opened #45 "[Release v0.4.0] Prepare it"
required by https://github.com/src-d/backlog/issues/1074

- [x] ~~Update [`main.VERSION`](https://github.com/bblfsh/dashboard/blob/master/server/cmd/bblfsh-dashboard/main.go#L20) to `v0.4.0`~~ => we moved to tagging by Makefile and don't keep version in code (same as other src-d projects do)
- [x] Release the latest version once the subtasks of https://github.com/src-d/backlog/issues/1074 are chec

[2017-09-01 14:22] dpordomingo commented on #45
@marnovo let mi know if there is something missing

[2017-09-01 14:23] dpordomingo opened #46 "Using Gist from Github"
parent https://github.com/bblfsh/dashboard/issues/45

_As a user of the dashboard I want to be able to import a github gist directly to the input (left) panel, and to share that state_

It is needed to cover the following features:
- [x] Input text to specify which gist will be loaded into the left panel,
- [ ] A share button to share the dashboard with the gist already loaded into the input panel

[2017-09-01 14:24] dpordomingo commented on #46
Hi @ricardobaeta I can not assign you to this issue, but I need a design for this feature.
Let me know if you need any other clarification.

[2017-09-01 19:13] Serabe commented on #44
Nej.

[2017-09-06 09:29] ricardobaeta commented on #46
Hey @dpordomingo

Here you can find some solutions to the Dashboard needs, as well as the request design objectives.

![image](https://user-images.githubusercontent.com/1746146/30104525-c967db7a-92ed-11e7-9a82-bed9d62d8ae7.png)

![image](https://user-images.githubusercontent.com/1746146/30104539-d70befbe-92ed-11e7-8c97-32edaec8edff.png)

![image](https://user-images.githubusercontent.com/1746146/3

[2017-09-06 09:39] mcuadros commented on #46
In the minimal version of this feature:
- Should load only the gist from the a gist, but don't needs to upload the content.
- When the content of a gist is loaded, cannot be edited (since you can't upload the content)
- Share button should just copy the URL to the clipboard, without additional screens.

[2017-09-06 10:30] ricardobaeta commented on #46
Iteration upon feedback rationale.

![image](https://user-images.githubusercontent.com/1746146/30107399-8ef8520e-92f6-11e7-9893-4b985aedc59d.png)

![image](https://user-images.githubusercontent.com/1746146/30107413-98c4edce-92f6-11e7-92d8-9ffb92637379.png)

![image](https://user-images.githubusercontent.com/1746146/30107443-aed3e160-92f6-11e7-96a7-2bfd45b98084.png)

![image](https://user-images.gi

[2017-09-06 16:43] dpordomingo commented on #45
I droped the "Deploy publicly" subtask because Infrastructure will not work on it during [this current print](https://github.com/src-d/backlog/milestone/54)

[2017-09-06 17:14] dpordomingo commented on #46
@ricardobaeta I do not understand the reason because the example dropdown was disabled when loading a gist.
Which is the purpose of the checkbox on the left side of the examples selector?
Why is disabled the examples selector after loading a gist?

The behavior I'd like (as a user) would be:
- enter the page -> example already loaded, and examples combo shows the loaded example,
- edit code, or lo

[2017-09-08 07:43] eiso commented on #38
I really like this idea!

@marnovo the python client just got this feature yesterday. I am not sure if the go client has it aswell.

[2017-09-08 07:50] eiso commented on #38
It has been: https://github.com/bblfsh/client-go/pull/8/files

[2017-09-08 19:27] dpordomingo commented on #44
superseded by https://github.com/bblfsh/dashboard/issues/46

[2017-09-08 19:27] #44 closed

[2017-09-12 09:25] dpordomingo commented on #45
The PR https://github.com/bblfsh/dashboard/pull/48 contains the «load from gist feature» I still need tests and the url can not be shared yet. I hope to complete both in 1~2 working days

[2017-09-12 09:28] dpordomingo commented on #46
The PR https://github.com/bblfsh/dashboard/pull/48 contains the «load from gist feature»; It still need tests and the url can not be shared yet. I hope to complete both in 1~2 working days

[2017-09-12 09:34] ricardobaeta commented on #46
@dpordomingo I'm finishing writing a rationale about my decisions regarding https://github.com/bblfsh/dashboard/issues/46#issuecomment-327552331

[2017-09-14 14:18] zurk commented on #38
Yes, It will be really helpful. I need this feature.

[2017-09-14 14:19] eiso commented on #38
Afaik @zork this has been implemented in both clients. @juanjux am I right?

[2017-09-14 14:25] juanjux commented on #38
@eiso that's correct.

[2017-09-14 14:35] zurk opened #49 "[feature request] Versions on page"
Add the version of dashboard somewhere on the page.
Add the version of bblfsh-server with which dashboard should definitely work.

It would be really nice and useful for dashboard usage.

[2017-09-19 13:39] mcuadros opened #50 "Quick changes"
- [x] Decrease font size a 20%
- [x] Move the "RUN Parser" to tthe right of screen
- [x] Add more example to the example combo:
- [x] Use the same font in the text are and the tree: http://sourcefoundry.org/hack/
- [x] Remove the "Driver code" label from the octocat icon, and put "Driver repository" as an alt desc
- [x] Changes the example with the following files:

Name: `fizzbuzz.py`
[code]

Nam

[2017-09-19 14:11] dpordomingo commented on #50
On it.
I'll mark each subtask as "done" when it is ready in my dev machine, and I'll close the issue when the PR https://github.com/bblfsh/dashboard/pull/51 is merged

[2017-09-19 15:40] dpordomingo commented on #50
as requested irl, I'll add to the changes:
- Remove the "Driver code" label from the octocat icon, and put "Driver repository" as an alt desc

[2017-09-19 16:50] dpordomingo commented on #50
@mcuadros PR is ready to review
https://github.com/bblfsh/dashboard/pull/51

[2017-09-19 16:57] #50 closed

[2017-09-19 17:07] dpordomingo commented on #50
Merged and shipped into the new release https://github.com/bblfsh/dashboard/releases/tag/v0.1.2

[2017-09-19 20:01] dpordomingo opened #52 "Error with latest server version"
As reported by @eiso via slack:

error parsing UAST: rpc error: code = Unimplemented desc = unknown service gopkg.in.bblfsh.sdk.v0.protocol.ProtocolService
`

[2017-09-19 20:02] dpordomingo commented on #52
As pointed by @abeaumont vía Slack

[2017-09-19 21:09] eiso commented on #49
@marnovo this has my +1 as well. Could be as simple as just text in the footer.

[2017-09-19 21:44] mcuadros commented on #52
Fixed by https://github.com/bblfsh/dashboard/commit/41d3c91f3295558ec94d24749ccb6026c4be7dce

[2017-09-19 21:45] #52 closed

[2017-09-19 21:47] mcuadros opened #53 "Share a node with a link"
We will be useful if we can share a node, to easy address to other people something. As well for lines, for line we can use the GitHub format.

[2017-09-19 22:01] mcuadros commented on #42
We can use https://gojs.net/latest/samples/familyTree.html

[2017-09-20 11:00] dpordomingo opened #54 "Performance error when clicking in some tokens"
as reported by @vmarkovtsev  vía Slack:

## Diagnostic:
There is a performance error when clicking in some tokens, that causes a browser tab freeze.

given the following python sourcecode:
[code]

click in the last `return` -> small freeze
click in `FizzBuzz` -> looooong freeze

[2017-09-20 14:35] dpordomingo commented on #54
I spotted the merge causing the problem:
https://github.com/bblfsh/dashboard/pull/19/files

[2017-09-20 14:46] dpordomingo commented on #54
It does not depend on the language;
It depends on the complexity of the source code -> deepness of the UAST.
It's more likely to occur when the clicked token is really deep in the UAST.

[2017-09-21 10:03] dpordomingo opened #55 "Vertical scroll on UAST window disappear under certain right widow sizes"
Vertical scroll on UAST panel disappear under certain right panel and window sizes and when UAST is quite deep. When it happens, the UAST panel can be scrolled only with the mouse wheel.

![bblfshscroll](https://user-images.githubusercontent.com/2437584/30690791-a1c633c6-9ec5-11e7-965e-c463895971b2.png)

I could not reproduce it in the original https://astexplorer.net

[2017-09-21 13:22] #54 closed

[2017-10-05 10:31] dpordomingo opened #60 "Do not "auto-parse" when user changes the language"
@smeruelo suggested _irl_:
Do not "auto-parse" when user changes the language, otherwise it rises errors that can be expected but annoying.

### steps to reproduce the errors:
1. go to the dashboard,
2. change the language -> annoying errors!!!

or...
1. go to the dashboard,
2. write python code,
3. change the language to Python -> everything goes good
4. change the language to Java again -> annoy

[2017-10-05 10:32] dpordomingo commented on #60
@marnovo could you confirm if we should address this enhancement? or should we keep the current behavior.

[2017-10-05 13:38] eiso commented on #49
@marnovo just doing a +1 on this one again since having dashboard,  server and driver versions on the dashboard, will make it a lot simpler to know what we're using. Especially when having multiple Babelfish servers running with different versions because of still some incompatibility on ML projects.

[2017-11-08 15:42] dpordomingo opened #61 "Fix dashboard url in project description"
Dashboard does not work with `https`, so the link should be fixed because it points to https://dashboard.bblf.sh -> `443: Connection timed out`
![image](https://user-images.githubusercontent.com/2437584/32557730-44c41004-c4a3-11e7-830c-ec25695186bf.png)

[2017-11-10 12:56] campoy opened #62 "Rename dashboard to playground"
A dashboard shows metrics of the current status of a server, e.g. the [Kubernetes Dashboard](https://github.com/kubernetes/dashboard).

A playground allows a user to interact with a service without having to install anything first, e.g. [Go playground](play.golang.org) or the [Google API Playground](https://developers.google.com/oauthplayground/)

This repo implements a playground, and as such sho

[2017-11-10 13:56] gomesfernanda opened #63 "metrics from Dashboard --> Google Analytics"
We need to gather Dashboard metrics on Google Analytics regarding audience (visits, time spent etc). I believe this is strongly related to @dpordomingo. Please let me know if you need further details.

[2017-11-10 14:20] dpordomingo commented on #62
I agree with that rationale; The "dashboard" was initially considered under something closer to the real definition of "dashboard" (to let the user query the installed drivers, install new ones, statics...) but since the current state of the repo does not allow to do such things, I think it's sensible to rename it to "playground"

[2017-11-10 15:11] dpordomingo commented on #63
So, if no other info is provided, it'd be done with the GA default configuration.
[code]

Should we use certain GA tracker?
should we use the landing one `UA-69608223-1`? (I don't think so)

[2017-11-10 15:28] gomesfernanda commented on #63
I don't think we should use the landing tracker.
I created a new tracker for the Dashboard: `UA-69608223-6`

__Website Tracking - Global Site Tag__
[code]

Also, if we can track the clicks on the links available on the dashboard, it can be useful in the future.
[https://github.com/bblfsh](https://github.com/bblfsh)
[https://doc.bblf.sh/](https://doc.bblf.sh/)
[http://codemirror.net/](http://codemi

[2017-11-10 15:33] dpordomingo commented on #63
For estimation purposes:
- Adding the default tracker -> quick, safe and easy,
- hijacking and tracking some links -> not that quick, not that safe, not that easy (but feasible as it is done in Landing)

[2017-11-10 15:35] campoy commented on #62
Cool, I think we need @mcuadros superpowers in order to make this happen?

[2017-11-10 15:39] gomesfernanda commented on #63
so I believe we should first implement the default tracker, so we can start monitoring as soon as possible, and then we study the need/implementability of link tracking.
waiting for @marnovo input on this.

Thanks!

[2017-11-10 16:35] campoy commented on #61
This has been fixed already.

[2017-11-10 17:09] #61 closed

[2017-11-10 17:10] dpordomingo commented on #61
thanks for letting me know about the fix :dancer:

[2017-11-10 17:13] campoy opened #64 "Latest dashboard fails to communicate with latest server"
In a freshly installed macbook I'm running these commands (following the documentation) and seeing errors.

[code]

After running these commands my docker client has two images:

[code]

Then when I try to access the local dashboard running on localhost:8080 and click on "run parser" I get this error:

[code]

![screen shot 2017-11-10 at 6 10 10 pm](https://user-images.githubusercontent.com/223745

[2017-11-10 17:32] dpordomingo commented on #64
Wow... many thanks for the detailed explanation!

[2017-11-10 20:04] dpordomingo opened #65 "bblfsh/dashboard:latest tag is not updated when released a new tag"
It seems that [`ci/Makefile.main`](https://github.com/src-d/ci/blob/master/Makefile.main) `docker-push` rule does not update the `:latest` tag when a new tag is updated, does it?

If that's true, it's a pity because when locally installing the dashboard, it is used the [`bblfsh/dashboard:latest` tag from DockerHub](https://hub.docker.com/r/bblfsh/dashboard/tags/)

blocked by https://github.com/src

[2017-11-10 20:05] dpordomingo commented on #64
... so sad.
I'm pretty sure that it will work if you try running the dashboard with the following:
[code]

As you saw, I just added the tag v0.3.0 to the dashboard image.
Let me know if it solved your problem.

I described the problem in the new issue https://github.com/bblfsh/dashboard/issues/65

[2017-11-10 20:06] dpordomingo commented on #64
@mcuadros could you update the `:latest` tag, pointing to the `v0.3.0` tag?

[2017-11-12 10:09] mcuadros commented on #64
why me? do it yourself. :)

[2017-11-12 17:49] campoy commented on #64
Do I have those superpowers already? 😮
Also, I'm assuming that's a SGTM from you?

[2017-11-12 18:31] mcuadros commented on #64
Is for David, the CI should do this every-time that a new image is pushed, otherwise this will be a temporal fix.  hehe

[2017-11-12 18:34] mcuadros commented on #64
I just tagged v0.3.0 as new latest

[2017-11-13 11:44] dpordomingo commented on #64
Problem with current `:latest` image was manually solved.
The problem with the CI will be tracked in the separated issue https://github.com/bblfsh/dashboard/issues/65

[2017-11-13 11:44] #64 closed

[2017-11-14 20:13] marnovo commented on #62
The naming rationale proposed by @campoy is indeed sensible.

@dpordomingo, can you quickly estimate (just a ballpark number) how much work renaming the project would entail, given the deployed online version, provided docker images, documentation here and in the bblfsh org, and more I might be forgetting?

Depending on the estimates we may add it to the next Applications sprint.

[2017-11-14 20:21] dpordomingo commented on #62
I'd say than less than half day for sure. It may be 1h but I couldn't guarantee that.

[2017-11-14 21:08] eiso commented on #45
Closing this issue. I believe it's done.

[2017-11-14 21:31] eiso commented on #45
Ah sorry, I looked too quickly. I see the unchecked ones now. My apologies.

[2017-11-16 21:40] marnovo commented on #62
Sounds fair.

@mcuadros please let us know.

[2017-11-22 14:09] marnovo commented on #63
Questions mostly about the lingo (synthesized answers please):
1. What does `default tracker` mean under this context?
2. What is the added benefit of the `hijacking & tracking` over it?
3. What are we using in the landing, blog?
4. What is the difference in terms of work for each approach?

[2017-11-22 14:15] campoy commented on #63
And an extra question from my side: why are we using different tracking accounts rather than adding info to the events we fire?

I wonder if it'd be easier to get a global view of the visits across domains that way

Actually I'd advocate for one account per domain:
- sourced.tec
- bblfsh.sh
- any others?

[2017-11-22 15:46] gomesfernanda commented on #63
the one available on Google Analytics instructions:

[code]

We have metrics on clicks on each external link, not only "drop-off"s (as GA current labels) and buttons, so we can analyze the efficiency of them and how they're placed on the pages.

On the landing we track the clicks on "Join our Slack" button and on external links. We don't have a distinction, however, which external link was clicked

[2017-11-30 12:53] smacker opened #67 "Checkbox labels are unclickable"
I mean "Show locations" & "Custom babelfish server" options.

[2017-11-30 12:57] smacker opened #68 "Highlight last character (python)"
Happens only for python. For java works fine.

When I hover on node it doesn't highlight last character (for example `fizzbuz` instead of `fizzbuzz`)
![screen shot 2017-11-30 at 5 56 09 pm](https://user-images.githubusercontent.com/406916/33431882-d3e76a96-d5f7-11e7-84a3-ed6a79fbacdf.png)

[2017-11-30 12:59] smacker opened #69 "After code modification UAST highlight wrong node"
When I edit code the old tree is still there and highlight wrong node.
Should we disable highlighting or maybe all tree?

[2017-11-30 16:33] smacker opened #70 "Use bblfsh go client"
Now it makes requests directly using sdk.
We need to use https://github.com/bblfsh/client-go it will allow to query by x-path and later integrate other features

[2017-11-30 16:50] smacker commented on #38
@ricardobaeta can you help us here?

[2017-12-01 11:29] mcuadros commented on #62
As I said in person when he suggested the idea, currently its true that the panel doesn't contain any information about the status of the server. But it-s because is not done, but should be done. And in this case fully qualified dashboard. So I rather not chaing it to a playground

[2017-12-01 11:37] smacker commented on #60
it's very useful feature when you have gist. I'll add more context later.

[2017-12-01 11:47] bzz commented on #49
Before closing, let's make sure if we want to just show versions, or an error in case version missmatch.

[2017-12-01 12:12] marnovo commented on #31
To add the xpath feature #38, this is a necessary fix (as anything else that changes the tree).

[2017-12-01 12:15] dpordomingo commented on #68
If it's working for Java, but not for python, it may be a problem with the driver, that's not sending the right end position. We should confirm that

[2017-12-01 12:33] mcuadros commented on #63
This is not the place to speak about this, also @eiso and me We don't belive of tracking this things, since we don't do open source for take a benefit.

Also this is related about the deployment it self and not the project. Obvously we are not going to add this metric to every on-premise deployment.

If you need track something, tracking from the logs.

Sorry.

[2017-12-01 12:33] #63 closed

[2017-12-01 13:37] dpordomingo commented on #69
It make sense.
I think there is some flag attribute in the left panel that says if it's "dirty" (has been changed by user input)...
In that situations, the highlighting should be disabled in both panels till the user runs the parser again.

[2017-12-01 19:01] dpordomingo commented on #60
Since bblfsh can guess the language of a file, we may use that feature when loading gist instead.
It may be useful to consider whether the most likely use case are the ones described in the issue desc, or changing the language after fetching a new gist.

[2017-12-01 23:26] campoy commented on #62
Then the problem I see is that a dashboard and a playground have completely different audiences in mind.
Why are we providing a playground functionality (useful for demos) in a dashboard (useful for production monitoring)?

[2017-12-02 02:06] mcuadros commented on #62
why you consider different audience? you don;'t want to see which drivers are installed? or update it? and after this test it? and explore how they work?

This tool (with the driver managing) will be used more for testing and research than in production.

I don't see any reason to build two application, adding more words to the lingo making harder to the people understand the project.

[2017-12-02 02:12] campoy commented on #62
I see the playground as a completely serverless experience of what babelfish can deliver.
It's not about managing the resources on the server (that'd be the dashboard) but to try the project.

Maybe the playground can be simply one of the features in the dashboard. I'd be ok with that too.

If we were to expose babelfish as an API, I'd like the playground to be something that could be built atop o

[2017-12-02 02:21] mcuadros commented on #62
The dashboard is not a severless thing is something to run with your installation, with the drivers that you have installed, and your server.

Ok, I see, we can call playground to a dashboard version, not autheticated (or without write access). Basically means renaming the DNS to playground.bbl.sh.

But the code is the same. And the project it selft contains all the functionallity.

[2017-12-02 08:32] smacker commented on #60
I have another idea. How about we disable language selectbox if code was parsed successfully? Like if it parsed python code correctly, it won't be able to parse the same code with java driver.
I see only one problem js/ts. It can be JS code, but you want to parse it with ts driver. (but we don't have any of them right now)

[2017-12-05 15:20] smacker commented on #55
fixed.

[2017-12-05 15:20] #55 closed

[2017-12-05 15:51] #70 closed

[2017-12-06 22:55] campoy opened #75 "Create play.bblf.sh"
We should have a DaaS (Dashboard as a Service) where anyone can go and play with the stateless / read-only aspects of the platform.

I propose hosting it under play.bblf.sh, where anyone can go and try to parse any code as long as it's supported by any of the available drivers.

[2017-12-06 22:56] campoy commented on #62
Deal, let's try to get a non authenticated, read-only, instance of bblfsh under play.bblf.sh then.
Created #75 to track the effort

[2017-12-06 22:56] #62 closed

[2017-12-11 09:28] eiso commented on #75
+1

[2017-12-11 12:05] smacker commented on #41
Binary releases are already mentioned in readme. But the link is broken. Fixed in https://github.com/bblfsh/dashboard/pull/79

[2017-12-12 08:57] smacker commented on #42
I did some investigation. Looks like the best choice for visualization library using with react is simple d3. I tried to render java example:

Hover on node:
![screen shot 2017-12-12 at 1 24 25 pm](https://user-images.githubusercontent.com/406916/33875510-44075840-df44-11e7-9fca-f901f177ea7b.png)

Expand all nodes:
![screen shot 2017-12-12 at 1 44 18 pm](https://user-images.githubusercontent.com/4

[2017-12-12 09:03] vmarkovtsev opened #80 "Everything broke spectacularly when I switched from Java to Python"
I opened `dashboard.bblf.sh`, clicked the dropdown and selected Python. Everything has exploded:
![image](https://user-images.githubusercontent.com/2793551/33875766-ac4bfc88-df23-11e7-9d73-ece100c5589e.png)

[2017-12-12 09:09] bzz commented on #80
Seems like it's due to https://github.com/bblfsh/dashboard/issues/60 and @smacker has proposed the solution https://github.com/bblfsh/dashboard/issues/60#issuecomment-348677439 that might be included in further sprints.

[2017-12-12 09:15] smacker commented on #80
as a workaround for now: type some valid python and then change language.
we need to think more about how to fix it. In terms of UX. Maybe we need to add button to clear code or something else.

I close issue as a duplicate, but we will fix it as soon as have good solution and time to implement it.

[2017-12-12 09:15] #80 closed

[2017-12-12 09:16] vmarkovtsev opened #81 "Hovering on a Python function"
I hover over "Node" and this is what I see:

![screenshot from 2017-12-12 10-12-03](https://user-images.githubusercontent.com/2793551/33876221-2f04d0d6-df25-11e7-871e-33539113ee87.png)

There are two problems IMHO:

1. If I hover over the empty area right to "Node" then `:hover` is still activated. Looks like the size of the element does not match the string value.
2. The last "z" in "fizzbuzz" is

[2017-12-12 09:19] smacker commented on #81
thank you for bug report!

1) I suppose it was intended to work like that, but we will think about it again.
2) It's known bug. We need to investigate is it a bug in dashboard or driver https://github.com/bblfsh/dashboard/issues/68

[2017-12-12 09:25] #41 closed

[2017-12-12 09:27] dpordomingo commented on #60
I think we need to analyze the problem from a UX point of view.
Make sense to auto-parse the code when the user changes the language?
There may be many scenarios when the user might want to change the language before writing new code in the new language, so he will receive a big and unexpected error.

Since the auto-parse on language change was not an initial dashboard requirement, the fastest and

[2017-12-12 09:36] bzz commented on #60
\cc @ricardobaeta

[2017-12-12 09:48] vmarkovtsev commented on #81
Regarding (1), David explained to me why in the kitchen. If I saw a frame around the whole block, I would understand this behavior.

[2017-12-12 09:53] ricardobaeta commented on #60
We have the "Run Parser" button for a reason :)

[2017-12-12 11:31] dpordomingo opened #83 "Is `make serve` target really working?"
I tried twice and it failed, and only worked after running `yarn start`; I think the assets are not properly generated -> served by the api one it is ran `make serve`

[2017-12-12 16:02] dpordomingo commented on #49
@bzz could you answer [your question](https://github.com/bblfsh/dashboard/issues/49#issuecomment-348475384)?

[2017-12-12 22:46] marnovo commented on #75
@campoy help me make this clearer: this just means that the current source{d}-hosted version of the `src-d/dashboard` to be served under `play.bblf.sh` vs. currently  `dashboard.bblf.sh` or am I missing/misunderstanding something?

[2017-12-13 07:05] smacker opened #85 "Set version variable automatically during release"
Do like it works in https://github.com/bblfsh/bblfshd

[2017-12-13 07:11] smacker opened #86 "Tests for non-success cases print errors in console"
We have some `console.error` statements in code (for example in api).
When we run tests for non-success cases you can see errors in report. It's confusing.
We need to find a way how to avoid it. For now I see 3 options:
1) remove console.error from code
2) mock console in tests
3) use error sender wrapper in code (it will be console.error in prod/dev for now and noop-func in tests)

[2017-12-13 07:57] dpordomingo commented on #86
You ordered by cost ASC, power/flexibility DESC. ;)
If we choose (1) we lose error traceability.
If I understood you, (2) could be done as an intermediate step of (3), so if we start with (2) and we later need (3), we could reuse the work done for (2).
If so, I'd vote for (2)

[2017-12-13 08:03] smacker commented on #86
not exactly. mocking usually means `beforeEach(() => mockSomething)` on very top. And when we mock console, we can break it somewhere in jest or so.

For a wrapper it would look something like:
[code]

[2017-12-13 08:34] dpordomingo commented on #45
superseded by https://github.com/src-d/backlog/issues/1074

[2017-12-13 08:56] dpordomingo commented on #45
@smacker I updated the issue desc to match our current requirements
(I feel the _"Update main.VERSION to v1.0.0"_ subtask should be done in a separated PR to match to the new release that will be created after this one has been merged)

[2017-12-13 10:51] #37 closed

[2017-12-13 13:26] dpordomingo commented on #86
You're right. Mocking `Global.console` for testing can break something in jest.
3rd option seems to be secure enough

[2017-12-13 16:28] ricardobaeta commented on #46
Per discussed with @bzz further improvements will be address in different issues.

[2017-12-13 16:33] #46 closed

[2017-12-13 16:57] bzz opened #88 "Shareable link to a Gist returns 404"
On build from latest master, if one imports from Gist URL https://gist.github.com/bzz/cf2cc8d763bf5013f3a86d81bdb3ae8c, UAST is displayed, and "Share" btn produces a link

http://0.0.0.0:9999/bzz/cf2cc8d763bf5013f3a86d81bdb3ae8c/raw/284c8c6feec80428d1a1c6ff4cdba2c5799473c9/ParsingSucceeds.java

that, when pasted it to a new tab, results in `404 page not found` page.

[2017-12-13 16:59] smacker commented on #88
oh. Thank you! I tested only in dev mode, most probably need to change routing in go server.

[2017-12-14 08:18] #31 closed

[2017-12-14 08:39] mcuadros opened #89 "Recover driver list from gRPC and not have a fixed list"
We should recover the list of driver installed on the server and the versions, instead of the hardcoded list.

[2017-12-14 08:46] smacker commented on #89
Do you think we should add method to `client-go` or call bblfshd gRPC directly from dashboard?

[2017-12-14 09:04] smacker commented on #83
what was the error exactly? Looks like it works fine for me:
[code]

After that I can open http://localhost:9999/ with latest version of static.

[2017-12-14 09:10] dpordomingo commented on #83
I'lo try to reproduce it properly. I had it a couple of different times.

[2017-12-14 09:13] mcuadros commented on #42
I think that the internalType of the nose should be a label, like in the examples I pasted

[2017-12-14 09:15] smacker commented on #88
the link is broken in master now, because of new bug during refactoring. Fix: https://github.com/bblfsh/dashboard/pull/90
But even with wrong link it doesn't return me `404`.

Can you please re-test with that commit?

[2017-12-14 09:25] smacker commented on #42
I removed internalType because it looked like a mess. I see 4+ children quite often in examples and internalType is long often too, like "SingleVariableDeclaration". But of course it's not final solution. We will experiment with different visualization more. It was more like a technical investigation, how to integrate library in react without breaking vdom and reuse tree state.

[2017-12-14 09:25] mcuadros commented on #89
The better will be call to gRPC: https://godoc.org/github.com/bblfsh/bblfshd/daemon/protocol, otherwise you will need to parse an ASCII table.

In this case we will need use `dep` because this API is not versioned.

[2017-12-14 11:08] bzz commented on #88
Cool! Will try again and get back to you asap.

[2017-12-14 11:38] smacker opened #91 "Add linter & prettier in CI"
To avoid accidental mistakes.

[2017-12-14 15:06] smacker commented on #38
the first version was implemented here: https://github.com/bblfsh/dashboard/pull/77#issuecomment-351731268
further improvements (like UX) will be done in separate issues.

[2017-12-14 15:06] #38 closed

[2017-12-14 15:22] #85 closed

[2017-12-14 15:41] smacker opened #93 "Add tests for go handlers"
right now we almost don't test anything on a server side

[2017-12-15 16:16] #93 closed

[2017-12-15 16:17] #60 closed

[2017-12-15 16:17] #67 closed

[2017-12-15 16:18] #91 closed

[2017-12-15 19:37] bzz commented on #88
@smacker could you let me know if I'm missing something, but after fresh build from master nothing has changed for me

[code]

And the link above http://0.0.0.0:9999/bzz/cf2cc8d763bf5013f3a86d81bdb3ae8c/raw/284c8c6feec80428d1a1c6ff4cdba2c5799473c9/ParsingSucceeds.java

results in 404 as before

[code]

Does it work for you?

Or what is the better way of testing link sharing use-case that you have

[2017-12-15 20:29] smacker commented on #88
yes. It works for me. In chrome. Dashboard installed service worker and request don't hit server. ><
So my original thought was correct.
Fixed in https://github.com/bblfsh/dashboard/pull/98
Tested in Safari&Incognito mode.

[2017-12-18 14:46] bzz commented on #88
@smacker not sure what am I doing wrong:
[code]

and try different browsers (Safari, Chromium, FF) - this URL always results in 404 for me :/

[2017-12-18 15:05] smacker commented on #88
it's weird. In the branch, I set another `index.html` as 404. So server shouldn't return regular 404 at all.
btw `0.0.0.0` doesn't route to the server on my system, I tested with `127.0.0.1`

[2017-12-18 17:41] bzz commented on #88
I see! Well, I just have copied the output URL that `make serve` pointed me to.

Let me try again with 127.0.0.1 and attach DevTools finds

[2017-12-18 17:44] bzz commented on #88
Ok, http://127.0.0.1:9999/bzz/cf2cc8d763bf5013f3a86d81bdb3ae8c/raw/284c8c6feec80428d1a1c6ff4cdba2c5799473c9/ParsingSucceeds.java actually does work as expected!

[2017-12-19 08:27] smacker commented on #88
merged

[2017-12-19 08:27] #88 closed

[2017-12-19 10:25] vmarkovtsev opened #101 "Suggestion: sort the keys of a node"
This is smth we discussed with Ricardo and I forgot to register.

It would be much better to sort the keys of each node so that `children` always goes the last. Currently, the order is different and in case of nodes with many nested children, understanding which record goes to which node is difficult.

[2017-12-19 15:16] bzz commented on #45
@dpordomingo could you update issue plz a bit:
 - it should be v0.4 in the title
 - lets strike-through ~Deploy publicly~ as it's going to be taken care separately

[2017-12-19 21:16] dpordomingo commented on #45
@mcuadros @marnovo could you please give permissions to all Applications team members? All of us should be able to merge PRs and edit issues

[2017-12-20 08:54] smacker opened #102 "Regression: source code isn't highlighted after gist load"
Most probably it got broken during redux refactoring.

[2017-12-20 08:55] smacker opened #103 "Regression: source code editor doesn't fill container height"
You can see a difference with v0.3 when there are only a few lines of code.
Most probably got broken because of change of codemirror react library.

[2017-12-20 15:06] bzz commented on #65
Shall we merge https://github.com/bblfsh/dashboard/issues/45 and push v0.4.0 to dockerhub?

[2017-12-20 15:09] bzz commented on #45
I think the only thing left is to merge src-d/ci#44 and then tag the release, that is going to be pushed to DockerHub! Let's try to do that asap

[2017-12-21 11:39] smacker commented on #45
sadly no. `make packages` is broken now and we need this command to build binary which we wrap in docker container. There is a PR with fix, but I'll rework it (move from bblfsh-dashboard to ci)

[2017-12-21 11:55] dpordomingo commented on #45
Yes, the `CGO_ENABLED` in`src-d/co/Makefile.main should be configurable from the outside, keeping the current `0` value as the default, and setting it as `1` to build the Dashboard.
Ping me when the PR is ready and I'll review it :)

[2017-12-21 12:15] dpordomingo commented on #65
Nope: the numbered tag is automatically pushed by the CI when a release is tagged.
What would be missing is the `:latest` tag, that should be manually created an pushed to dockerhub; it can be done only by @mcuadros (as far as I remember). To automate that last thing, it should be merged https://github.com/src-d/ci/pull/44

[2017-12-22 15:58] smacker commented on #102
Hm. I can't reproduce it in master branch.
But I saw bug during presentation.

@dpordomingo could you please try with that binary which you used and master branch?

[2017-12-27 11:55] #103 closed

[2018-01-04 11:59] smacker commented on #45
Done https://hub.docker.com/r/bblfsh/dashboard/tags/

[2018-01-04 11:59] #45 closed

[2018-01-05 15:11] rporres opened #106 "Docker image v0.4.0 does not run"
Is there an issue with the entrypoint?

[code]

Previous image works fine

[code]

[2018-01-05 16:10] smacker commented on #106
fixed by https://github.com/bblfsh/dashboard/pull/107

[2018-01-05 16:10] #106 closed

[2018-01-08 16:28] carlosms opened #108 "Provide a clear error message when bblfsh cannot be reached"
When running the docker container with an unreachable bblfsh-addr option, the error message is not descriptive enough:
`time="2018-01-08T15:33:28Z" level=fatal msg="error starting new server at :80: context deadline exceeded"`

[2018-01-09 09:31] smacker commented on #102
@dpordomingo

[2018-01-09 10:58] smacker commented on #65
It was fixed by https://github.com/bblfsh/dashboard/pull/100 and https://github.com/src-d/ci/pull/47

[2018-01-09 10:58] #65 closed

[2018-01-09 14:24] smacker commented on #68
I have discovered that java&python drivers work different, both ways actually make sense but it should be consistent.
So the change will be done in driver.

I'm keeping it open for now just in case.

[2018-01-09 15:18] dpordomingo commented on #68
whoooa! :)
Could you find the line (or docs or something linkable) where both drivers differ?

[2018-01-09 15:20] smacker commented on #68
Yes. But it doesn't make sense to add links here. Babelfish team is aware of the problem:

[2018-01-09 15:25] dpordomingo commented on #68
Is there any issue on the other side?Maybe this one https://github.com/bblfsh/python-driver/issues/142 ?
It would be useful to keep everything documented/updated/related, won't it?

[2018-01-09 15:38] smacker commented on #68
the problem isn't python driver. There is no definition for ending position right now. So drivers can implement it differently (I didn't test what drivers for other languages return but it can be the same as java or python or something different as well).
Right now it's unclear where to create an issue. Most probably in bblfsh/documentation or maybe bblfsh/sdk or bblfsh/bblfshd. As soon as we crea

[2018-01-09 15:40] smacker commented on #68
Here you go: https://github.com/bblfsh/documentation/issues/130

[2018-01-09 17:39] dpordomingo commented on #68
Great!
Now you confirmed the problem is in bblfsh we should maybe label this issue as `blocked` (closing it might be understood "there is no longer problem with this"). What do you think?

[2018-01-09 19:01] dpordomingo commented on #102
strange.
I tried with https://drive.google.com/file/d/125uZvbl0P-x6Bk9QUzK5UKMV4xu8UrdT/view and I could not reproduce the bug (I could not even see the gist).
I tried with the current tip of `master` (6e77f41) and I could not reproduce the bug &rarr; everything went ok.

Feel free to reopen if you have more details to reproduce the problem :dagger:

[2018-01-09 19:01] #102 closed

[2018-01-10 11:12] #108 closed

[2018-01-10 11:25] #101 closed

[2018-01-10 11:58] smacker commented on #89
Let's wait for decision about this proposal first: https://github.com/bblfsh/client-go/pull/32

[2018-01-10 14:13] smacker commented on #81
@vmarkovtsev do you think if we add such background on hover it would be helpful?
https://drive.google.com/file/d/1M7LbJGVjnPg32I9iAeYrzbiPcwnRko0Y/view?usp=sharing

(I used background instead of border frame because it looks ugly)

[2018-01-10 14:42] vmarkovtsev commented on #81
Can be only my eyes but I barely see the box. Yet it helps much, cool.

[2018-01-10 15:40] #86 closed

[2018-01-10 16:17] #69 closed

[2018-01-11 12:22] eiso commented on #75
That's correct @marnovo.

Should be happening soon with the new deployment: https://github.com/src-d/infrastructure/pull/43

[2018-01-12 10:14] #81 closed

[2018-01-15 15:24] mcuadros opened #115 "UX: is hard to figure out for a newbiew what to write on the "UAST query" field"
Maybe we can put as placeholder and very simple query or similar, more than just link the documentaiton.

[2018-01-15 15:59] marnovo opened #116 "Improve accessibility of node hover color"
The light-gray hover whenever you hover a node block on the UAST panel on the right is hard to notice in some screens (and/or for some visually impaired people), in contrast to the more obvious yellow color that shows up in the left side.
<img width="1680" alt="screen shot 2018-01-15 at 1 33 38 pm" src="https://user-images.githubusercontent.com/15906764/34949984-e9210e92-f9f8-11e7-8560-f75220e2564

[2018-01-17 00:34] ricardobaeta commented on #116
@bzz @marnovo

I think it's a pretty straightforward & quick solution. We can/should keep the colour scheme simple and apply the same colour - #ffff00 - but with a **very** soft Tint variation.

I would go with the [smoother Tint of #ffff00](http://www.color-hex.com/color/ffff00)

I've looked at the code, and I believe the hot-fix would be something like:

**.eckLzy** {
   ~~background: #f9f9f9;~~

[2018-01-18 16:05] marnovo commented on #116
@ricardobaeta can you please provide a screenshot with a before/after and tag the users here for a quick validation (Vadim, Alex, Egor, Eiso) before we push this? Thanks.

[2018-01-18 21:21] ricardobaeta commented on #116
@vmarkovtsev @bzz @eiso @EgorBu

**Before**

![image](https://user-images.githubusercontent.com/1746146/35121943-19f5ca00-fc95-11e7-8d04-230baa2be5a7.png)

**After**

![image](https://user-images.githubusercontent.com/1746146/35121880-e491b96e-fc94-11e7-8f0c-ab72eaca5d63.png)

[2018-01-19 13:11] eiso commented on #116
Awesome, thank you

[2018-02-01 22:45] bzz commented on #49
@dpordomingo I think it should be safe to close as version is shown now.

Validation of version parity would be handled in subsequent PRs.

[2018-02-01 22:57] #49 closed

[2018-03-26 14:17] dpordomingo opened #118 "Try to call bblfsh server from the browser instead of from the backend API"
As reported by @dennwc via Slack, it might be interesting the new official beta:
https://github.com/grpc/grpc-web

It might worth to investigate the possibility of calling bblfsh from the browser, that was already discarded in the past for undocumented reasons.

[2018-03-28 01:59] bzz opened #119 "Provide examples for new languages"
_depends on issue https://github.com/bblfsh/dashboard/issues/89 &rarr; PR https://github.com/bblfsh/dashboard/pull/122_

Bblfsh has 6 `recommended` drivers in `beta` state, according to https://doc.bblf.sh/languages.html#supported-languages

Dashboard should catch up and have at least one example of each of those by default.

Thus Golang, Ruby, PHP and JavaScript need to be added.

[2018-03-28 02:01] bzz commented on #75
Do we still plan to pursue this change?

[2018-03-28 02:11] bzz commented on #89
As soon as  bblfsh/client-go#32 is merged now and before adding new drivers at #119 let's move forward with this.

For strange reason I do not have enough permissions for this repo to manage labels, @mcuadros could you please kindly help, adding right permissions bits?

Meanwhile @dpordomingo would you mind adding it to Applications project, so it shows up on our backlog? Thanks in advance!

[2018-03-28 08:43] eiso commented on #75
We're definitely still hoping this will happen.

[2018-03-28 08:44] eiso commented on #75
https://github.com/src-d/issues-infrastructure/issues/113

[2018-03-28 09:52] dennwc commented on #119
Might be related to https://github.com/src-d/issues-infrastructure/issues/150

[2018-03-28 11:00] dpordomingo commented on #119
it might be also related to https://github.com/bblfsh/dashboard/issues/89

we could reserve some time next week to ensure these three issues have been solved:
- [ ] (a) update server src-d/issues-infrastructure#150
- [ ] (b) provide examples for the new languages bblfsh/dashboard/issues/119 (this one)
- [ ] (c) add new languages to the dropdown bblfsh/dashboard/issues/119 (this one)
- [ ] (d) make

[2018-03-28 11:03] dpordomingo commented on #89
@bzz done
(and added some context with related issues at https://github.com/bblfsh/dashboard/issues/119#issuecomment-376847056)

[2018-04-03 15:16] bzz commented on #75
Thank you for update! As I see it right now, that would be a pure domain change, or did I miss something?

If so, I think it still should be fine to close this one soon.

[2018-04-03 15:49] eiso commented on #75
Exactly, just CNAME change.

[2018-04-04 10:33] smacker opened #120 "Investigation: compile libuast to js and use it on client instead of server side libuast"
Currently, for x-path filtering we use libuast on server side. For every filter request we send all source code to the server, reparse it using bblfsh then applying filtering on server side.

Looks like we can skip most of this steps and simplify code if we would be able to compile libuast to js.

If it's possible, together with https://github.com/bblfsh/dashboard/issues/118 we will be able to rem

[2018-04-11 17:18] #83 closed

[2018-04-24 05:25] dpordomingo commented on #119
Examples provided by #123

[2018-04-24 17:22] dpordomingo opened #125 "Hide examples if there is no driver available"
If the drivers are fetched automatically from the bblfsh server (https://github.com/bblfsh/dashboard/pull/122), and some of them are not installed, the examples for that languages should not be shown.

[2018-04-25 14:10] #89 closed

[2018-04-25 14:46] #119 closed

[2018-04-27 11:06] dpordomingo opened #128 "Improve language autodetection UX"
The language autodetection UX should be improved as it was suggested by @bzz at https://github.com/bblfsh/dashboard/pull/124#issuecomment-384300721

Current problem:

Proposal:

[2018-04-27 11:10] dpordomingo commented on #128
To help understanding the necessity, I suggested at https://github.com/bblfsh/dashboard/pull/124#issuecomment-384327283, the following mockup, splitting the current option "auto", and the language detected by the server.

( just an example, not a design at all &rarr; we need @ricardobaeta assistance )

![image](https://user-images.githubusercontent.com/2437584/39255573-258b1604-48ad-11e8-8eb3-c4ac

[2018-04-27 11:26] ricardobaeta commented on #128
Hi @dpordomingo !

The contextual copy should be placed, inside its parent container, and as close as possible to the correspondent meaningful information. I would say to display this copy inside the left building block, because it relates more directly, as such. What do you think?

![language-auto](https://user-images.githubusercontent.com/1746146/39360456-35c9e81e-4a16-11e8-9a78-e675504139c5.png

[2018-04-27 11:34] dpordomingo commented on #128
Your rationale makes sense, for sure !!!

In my case, when I tried to think about the problem, I considered the following other pov:
- left panel &rarr; data wrote by the user
- right panel &rarr; data returned by the server

That's why I added the language label at the right panel.

But you know... just playing :wink:

![image](https://operationactive.files.wordpress.com/2015/03/i-have-no-idea-wh

[2018-05-10 12:46] smacker opened #129 "Extract uast viewer component to a lib"
We want to reuse it in other projects.

Scope:
- [x] Port UI to normal react components instead of styled components used in dashboard (to allow UI customization without dependency on styled components)
- [x] UAST viewer component with collapsing/hover
- [x] Controlled mode for UAST viewer to be able to manipulate uast in an application without losing user state.
- [x] UAST viewer + code editor wi

[2018-05-10 15:01] dpordomingo opened #131 "Validate assets in CI."
Assets from `server/asset/asset.go` are no being validated in CI.

The `make validate-commit` rule lacks `assets` prerequisite because [it was removed](https://github.com/bblfsh/dashboard/pull/130/commits/397e5f6a21d44b7b3b09e121a9e70bdce452ce78) to fix a problem with the cache.
The problem was caused by [`moddate=1` hack](https://github.com/bblfsh/dashboard/pull/105/commits/f0f86d454cabc02545c0e7

[2018-05-10 17:25] smacker commented on #129
Very basic lib: https://github.com/smacker/uast-viewer

It contains only presentation layer without any interaction (even hover).
Styled components were rewritten using normal components + sass.

Screenshots:
<img width="439" alt="screen shot 2018-05-10 at 19 22 52" src="https://user-images.githubusercontent.com/406916/39883636-c206ebd0-5487-11e8-9d95-de01609e5adf.png">

<img width="403" alt="scre

[2018-05-14 08:09] bzz commented on #120
Used ecmascripten to cross-compile both, libxml2 and libuast to JS/wasm on one of the OSDs, for the purpose of running it on BigQuery. Examples work after cross-compilation with browser and node for me, but resulting binary is few Mbs so not possible to fit 1mb BigQuery limit.

Did not peruse it  any further, but would be happy to share if somebody what's to apply it in dashboard.

[2018-05-22 07:42] bzz commented on #129
@smacker please post a new use cases here.

[2018-05-22 09:20] smacker commented on #129
Cases:
1. exactly the same as bblfsh dashboard (case isn't represented in wireframes)
2. when we have uast but don’t have code `select uast(content) from blobs`
3. when uast doesn’t much code `select uast(content, '/xpath'), content from blobs`
4. only code without uast (most probably we want to have the same editor as in case 1)

[2018-06-11 19:01] bzz commented on #42
Has some AST visualization example https://code2vec.com/

[2018-06-12 12:21] marnovo commented on #42
@ricardobaeta

[2018-06-19 08:15] smacker commented on #129
the lib was created. The dashboard uses it now. Closing.

[2018-06-19 08:15] #129 closed

[2018-06-26 17:25] bzz opened #136 "Scroll code panel on UAST node click"
When clicking on the UAST node, only the highlight moves to the position in the Code, but not the scroll of the code panel. Sometimes, especially for long code examples (that we do not have in dashboard by default) it is quite had to follow, especially on the filtered UASTs.

This issue is about having a click on UAST node  scroll the relevant pice of  Code.

Most probably related to uast-viewer a

[2018-06-26 17:38] bzz commented on #136
As discussed IRL \w @smacker - other way around of focusing UAST on Code selection sounds as a great idea as well.

[2018-06-27 14:55] smacker commented on #136
It feels kind of messy if I scroll code on hover of a node. Especially when I move the cursor from UAST to code, it goes through parent nodes and messes everything.

It's not defined when we should scroll code so I'll implement it on "click".

[2018-06-29 09:36] #136 closed

[2018-07-10 10:33] smacker commented on #118
Example of using grpc-web is here:
https://github.com/smacker/in-browser-uast

there is an example which is a simplified version of the dashboard.

[2018-07-10 10:34] smacker commented on #120
Example of using cross compiled libuast is here:
https://github.com/smacker/in-browser-uast

there is an example which is a simplified version of the dashboard.

The current size of wasm+js is  ~750kb.

[2018-07-17 09:28] #125 closed, assigned to smacker

[2018-07-17 09:38] #116 closed

[2018-07-23 11:46] eiso opened #143 "Upgrade bblfsh sdk to v2"
So that we can show people the new UAST's

[2018-07-23 13:23] smacker commented on #143
There is no sdk v2 release.
Also as I understand sematic UAST should work with the current client/sdk (didn't check though).

[2018-07-23 17:09] smacker commented on #120
implemented here: https://github.com/smacker/dashboard/tree/bblfsh_js

[2018-07-23 17:09] smacker commented on #118
implemented here: https://github.com/smacker/dashboard/tree/bblfsh_js

[2018-07-30 08:36] dennwc commented on #143
Dashboard will require an update once v2 protocol is released.

I will post all the details here once it's ready.

[2018-07-30 08:37] dennwc commented on #120
Any plans to integrate it?

[2018-08-02 14:33] dennwc commented on #143
We are super close to releasing the v2 support in Go client and drivers, so we can start thinking of ways to integrate it.

I would like to highlight some differences in the v2 here and split them into separate issues later.

* The representation is similar to JSON. Meaning there are two kinds of branch nodes: `Object` (unordered map) and `Array` (ordered, but no attributes or roles), and few kind

[2018-08-08 22:04] smacker opened #144 "Release & deploy new version with new drivers"
There are some nice improvements have been done:
- Fix help link #138
- Scroll code panel on UAST node click #137
- Don't display empty node on error #135
- Hide examples if there is no driver available #141
- React 16 (performance improvements) #139

The drivers were also improved (especially some node positions were fixed which is important for dashboard experience. For example wrong end positio

[2018-08-08 22:29] smacker commented on #143
We have many different options how to do that:

1. Convert new uast to old dashboard-internal-uast-json and hack-in primitive values (changes only on the server)
2. Convert new uast to some new-internal-uast-json (most probably just serialize structs to json) and change frontend accordingly
3. Send protobuf to the browser, reuse some parts of this branch https://github.com/smacker/dashboard/tree/b

[2018-08-09 10:57] eiso opened #145 "Show locations is not functioning"
In the current deployed version of the bblfsh dashboard to http://dashboard.bblf.sh/ the 'show locations' functionality doesn't seem to work (click the checkbox, doesn't update the UAST with the location information).

[2018-08-09 11:02] eiso commented on #143
@smacker just my two cents, while the geek in me loves p4, it probably shouldn't be where we are spending our time.

[2018-08-09 11:02] smacker commented on #145
Just checked: the same bug in master.

[2018-08-09 11:08] smacker commented on #143
Agree. Another note: I don't see anything related to new UAST for apps in our OKRs.

And even the fastest changes aren't that fast to just slip it in (taking into account uast-viewer isn't really schema agnostic https://github.com/bblfsh/uast-viewer/issues/43 yet)

[2018-08-09 11:18] eiso commented on #143
@smacker you're right since we didn't move over the UAST v2 OKR from Q2 since we thought it would only be a few weeks into Q3. This quarter is already busy enough, so I won't make any changes to our priorities that relate to the applications team for this.

[2018-08-09 14:14] bzz commented on #145
👍 added to the App team backlog

[2018-08-09 14:27] bzz commented on #143
@smacker thank you for thoughtful analysis and suggestions!

For me, this is part of the Dashboard maintenance, and we all agreed that such things are just part of our life and work, on top of the OKRs.

Besides, we already discussed and have agreed up on migration to UASTv2 on gemini and lookout.

But as displaying UASTv2 properly would require changes here and in uast-veiwer (and thus most proba

[2018-08-09 16:27] #145 closed

[2018-08-09 16:35] smacker commented on #144
Release: https://github.com/bblfsh/dashboard/releases/tag/v0.6.1
Issue for deployment: https://github.com/src-d/issues-infrastructure/issues/212

[2018-08-10 10:17] tsolakoua opened #147 "Adding .gif on documentation for Dashboard"
While running Babelfish Dashboard through the instructions at the [documentation](https://doc.bblf.sh/using-babelfish/getting-started.html) I thought it would be nice to have a .gif showing the process and how you can locate parts of code in the UAST (that is with the yellow colors).

I thought the issue should be in the documentation repo, as any changes would be reflected there, but it seems I a

[2018-08-10 10:27] smola commented on #143
Yes, maintenance of current projects is always part of our job. We should probably favor proposal 2, we just want to make dashboard compatible with sdk v2, improving functionality is completely secondary at this point.

[2018-08-10 10:28] tsolakoua commented on #147
The instructions would be reflected in doc.bblfsh.sh, but I don't know if it could be added in README.md of the dashboard or any relevant documents. What do you think @bzz ?

[2018-08-10 13:38] smacker commented on #144
The dashboard was deployed but not drivers. New drivers produce quite unexpected uast.
The progress on it can be tracked here: https://github.com/bblfsh/sdk/issues/288

[2018-08-10 13:38] #144 closed

[2018-08-10 15:36] smacker commented on #143
@bzz we might want to add this issues in our backlog then:

- https://github.com/bblfsh/uast-viewer/issues/43
- https://github.com/bblfsh/uast-viewer/issues/44
- https://github.com/bblfsh/uast-viewer/issues/50

we will need to fix them for the upgrade.

Most probably none of them require much code or time. Just need to make sure the viewer is flexible enough for changes of the format in the future

[2018-08-14 12:46] eiso opened #148 "Default port change from 80 to 8080"
Currently the default port on the containerized babelfish dashboard is `80`. On our gitbase playground it is `8080`. I would like to change the default to `8181` or something similar so that we can have users run our stack using docker with `--network host` and not having conflicting ports.

p.s. I am aware that with the `addr` flag we can choose a port, but I would like to make our defaults as si

[2018-08-14 14:10] bzz commented on #143
👍 after discussion with @mcuadros and @smola - adding those to the backlog.

[2018-08-17 09:09] smola opened #149 "Rename bblfsh/dashboard to bblfsh/web"
- [x] Change repository name.
- [x] Update repo description and tags.
- [x] Travis CI synced
- [x] Update README/CONTRIBUTING
- [x] Rename binary [`bblfsh-dashboard`](https://github.com/bblfsh/dashboard/tree/master/server/cmd/) -> `bblfsh-web`
- [ ] Check links from documentation of other projects.
- [x] Create bblfsh/web on Docker Hub.
- [x] Pushed older images to bblfsh/web.
- [x] Cut a release

[2018-08-17 09:13] bzz commented on #149
👍 Do you think it should also include update to https://github.com/src-d/charts/tree/master/bblfsh-dashboard ? \cc @rporres

[2018-08-17 09:13] eiso commented on #149
Any need for name updates in our helm charts for the deployed version?

[2018-08-17 09:15] eiso commented on #147
Adding it to the README here makes sense to me.

[2018-08-17 09:18] bzz commented on #149
Comment above updated \w some questions

[2018-08-17 09:27] rporres commented on #149
If there's a change in the name, it should also be reflected in the chart

I could set some time to move things to play.bblf.sh considering the whole change

[2018-08-17 09:31] eiso commented on #149
Appreciate it @rporres, it's not time sensitive at all but would be nice to finalize that. I would just also request a 301 redirect from dashboard.bblf.sh to play.bblf.sh too since that link is widely shared.

[2018-08-17 09:39] bzz commented on #149
Overall, looks great to me! Thank you @smola

Marked it as umbrella, as would require at least 2 additional issues on top of administrative work:
 - one for binary rename and release
 - one for Infra and charts

[2018-08-17 09:40] bzz opened #150 "Rename released binary to bblfsh-web"
Part of the #149

Rename binary to `bblfsh-web`

[2018-08-17 09:42] bzz commented on #150
Added to the backlog

[2018-08-17 09:50] bzz commented on #149
Adding to the backlog.

@smola can help with all administrative parts of the rename

@smacker can you please help, taking care of other steps?

[2018-08-17 09:55] bzz commented on #150
Closing, as this better be done in the same PR as docs update, so no need for it

[2018-08-17 09:55] #150 closed

[2018-08-17 10:55] smacker commented on #149
It's not clear for me how to update documentation.
Just replace `dashboard` by `web` would make it weird.

should we use something like `web interface` in documentation or `web playground` or ...?

[2018-08-17 11:46] eiso commented on #149
`web client`

[2018-08-17 13:27] bzz commented on #149
Do not have access either, so @smola  please give us a ✋
Added to description

[2018-08-17 13:33] bzz commented on #149
For links and documentation - it's https://docs.sourced.tech/intro/#getting-started-with-babelfish that needs to be updated as well as may be https://doc.bblf.sh/using-babelfish/getting-started.html#using-the-online-dashboard

[2018-08-17 13:39] smola commented on #148
@eiso Why are you running with `--network host`? You should probably run with `-p 8181:80` instead.

[2018-08-17 13:41] smacker commented on #149
I'm not sure where the source for that pages comes from. Maybe from docs repo? If so it's fixed already: https://github.com/bblfsh/documentation/pull/194

[2018-08-17 13:50] smacker commented on #149
release:
https://github.com/bblfsh/web/releases/tag/v0.7.0
image pushed correctly:
https://hub.docker.com/r/bblfsh/web/tags/

[2018-08-17 14:59] eiso commented on #148
@smola because `--link` is legacy and I needed to connect link the containers. Is there a better way?

[2018-08-17 15:36] smola commented on #148
@eiso I didn't know link was deprecated! It seems using user defined networks would be the thing:

[code]

[2018-08-17 22:03] eiso commented on #149
Let's drop the word "Dashboard" from the top bar and let's replace the <title></title> to Babelfish Web.

![2018-08-17-230221_439x176_scrot](https://user-images.githubusercontent.com/1247608/44290690-c8e11b00-a271-11e8-80d9-64507a8b1bc3.png)

[2018-08-19 15:04] smacker commented on #149
Huh? Are you sure you run the last version?
<img width="431" alt="screen shot 2018-08-19 at 17 03 24" src="https://user-images.githubusercontent.com/406916/44310157-d9100c00-a3d1-11e8-8d2f-83ec9052b778.png">

[2018-08-21 09:05] bzz commented on #149
@rporres are you going to take care of charts or shall a PR be submitted to src-d/charts by Apps as well?

[2018-08-21 09:14] bzz commented on #143
@smacker can see the issues above are closed, could you please post here what if there is anything left to be done here? Thanks!

[2018-08-21 09:26] bzz commented on #148
Indeed, using `--net host` is also not very cross-platform, so custom network is the thing that docker-compose is doing as well.

Do you guys still think we should change the default or can the issue be resolved?

Changing would most probably require PR to this repo and at least https://github.com/src-d/charts/blob/master/bblfsh-dashboard/values.yaml#L13

[2018-08-21 09:28] smola commented on #148
Maybe it is more convenient for all web interfaces like this to run on the same port inside the container, so it is then easier to know which port to expose or connect to. Either 80 or 8080? The advantage of using 8080 is that we can run as non-root user inside the container if we ever decide to do that.

[2018-08-21 09:39] bzz commented on #147
@tsolakoua please, definitely feel free to submit a PR with small gif to this repository README.

Not sure about other places like https://doc.bblf.sh/ and https://docs.sourced.tech/babelfish/using-babelfish

[2018-08-21 09:39] rporres commented on #149
@bzz As usual, if you need me to do anything please create an issue for it.

There are two tasks here: rename the chart and update terraform configuration. I definitely have to do the second part as you're not familiar with it. The chart renaming is up to you: you can send me a PR ([as you did with gitbase](https://github.com/src-d/charts/pull/65)) or you can create a rename-deployment issue

[2018-08-21 09:46] bzz commented on #148
Let's change default, here and in chart to 8080

[2018-08-21 09:50] smacker commented on #143
progress: uast-viewer doesn’t depend on uast v1 anymore. I’m trying to figure out how to work with uast-v2 now on backend.
in theory correct json created from uast-v2 + configuration for uast-viewer and it should work.
but it’s theory :smile:

[2018-08-21 09:52] bzz commented on #149
Sounds good!

@smacker can you please submit a PR to chart as well as it seems to be the last action item in here?

[2018-08-21 09:57] smacker commented on #149
@bzz I'm not sure that rename wouldn't break anything. There is also should be a change of domain. I believe we should align it with @rporres instead of just making random changes.

[2018-08-21 10:00] rporres commented on #149
@bzz the last action item will be to deploy the renamed chart. Please create an issue for that as well. Thx!

[2018-08-21 10:17] bzz commented on #149
Change of the domain is not related to this changes and is tracked in the issue linked above.

I'm sure @rporres would be happy to review the chart changes, same as he did for @carlosms who took care of updating gitbase-web, but if in doubt please follow the advice above https://github.com/bblfsh/web/issues/149#issuecomment-414615044

[2018-08-21 10:32] rporres commented on #149
I'm not talking about the domain here, @bzz. Since there's a chart name change, I will need to update the terraform configuration related to the change and that will trigger a new deployment.

I've created https://github.com/src-d/issues-infrastructure/issues/215 to take care of that.

[2018-08-22 09:10] smacker commented on #149
pr to charts: https://github.com/src-d/charts/pull/67

[2018-08-22 09:11] rporres commented on #149
Merged. Now it's on me to deploy it

[2018-08-22 09:42] bzz commented on #149
For

@eiso would the same logic be applicable here, as it https://github.com/src-d/gitbase-web/issues/218#issuecomment-414832903 ?

[2018-08-22 12:37] eiso commented on #149
Yes

[2018-08-22 16:06] smacker commented on #143
Update:

More frontend (I missed the feature of a node inside properties in uast2 originally 🤦‍♂️ ):
https://github.com/bblfsh/uast-viewer/pull/56

WIP PR in dashboard:
https://github.com/bblfsh/web/pull/152

There is no libuast for uast2 yet, so x-path filtering just doesn't work.
To allow results with primitive types we will need to wrap it in a fake array node and most probably it will work (th

[2018-08-24 16:46] smacker commented on #143
just a screenshot of how new UAST2 is going to look in dashboard:

<img width="1465" alt="screen shot 2018-08-24 at 18 43 33" src="https://user-images.githubusercontent.com/406916/44596783-cd578780-a7cd-11e8-82bd-840732cf4e87.png">

[2018-08-25 08:51] #149 closed

[2018-08-25 19:04] vmarkovtsev opened #155 "[question] Can this work as a Javascript client?"
Hi.

I wonder can I use this project to parse source code in my web browser using gRPC over HTTP? I don't need any frontend, just the JS API similar to bblfsh/client-python.

[2018-08-25 22:41] smacker commented on #155
no. but you can use my pet project https://github.com/smacker/in-browser-uast

[2018-09-20 08:56] bzz commented on #155
Closing as it seems to be answered now

[2018-09-20 08:56] #155 closed

[2018-09-21 16:53] #147 closed

[2018-10-03 19:21] dennwc commented on #143
XPath now works for UASTv2 in the Go client ;)

[2018-10-08 14:09] zurk opened #158 "Add installed drivers versions info"
Now we know bblfsh server version, but it is not enough. There is no way to figure out installed drivers versions right now. It is a good idea to add it.

[2018-10-09 09:38] carlosms opened #159 "Missing bbflsh-web version in UI"
With the latest docker image v0.7.0:

![image](https://user-images.githubusercontent.com/1469173/46660687-e074ba00-cbb7-11e8-9271-fe370eeb41ea.png)

[2018-10-18 14:43] smacker opened #161 "select mode for parsing"
We have an open PR with support for UAST2 but we are missing a new feature provided by the new client: choose parsing mode.

New bblfsh can return UAST in 3 different formats:
- Semantic (default)
- Annotated
- Native

A user should be able to choose one of them.

We need UI for that.

[2018-10-18 22:36] ricardobaeta commented on #161
Hi @smacker ! Hope this initial proposal makes sense to you too!

![image](https://user-images.githubusercontent.com/1746146/47188105-8f3e9600-d32e-11e8-9a09-7dc51e0a7971.png)

[2018-10-19 09:13] smacker commented on #161
Hi Ricardo! Thanks for such a quick response.

I just want to mention that to get a new type of UAST the code must be re-parsed. Sorry for not being clear about it in the original description.
Your proposal still works but let me know if you want to change this knowing this.

[2018-10-19 09:19] ricardobaeta commented on #161
Hi @smacker I got that from the start. But I aimed to keep the main interaction to one click, for not having to choose every time the parsing mode when you want to run. In this way you can choose the parsing mode in the visualisation block, and keep that mode and just keep on running in one-click, makes sense? :)

[2018-10-19 09:28] smacker commented on #161
It definitely does.

The only thing that is bothering me if I change the code on the left and then change the mode, I would expect to see UAST for the old code (because the control is scoped to the uast). But it would trigger re-parsing and show me UAST for the new code.

I'm not sure how confusing it is. Let me implement the current proposal and then we can play with it and decide if we need any

[2018-10-19 14:57] smacker opened #162 "Display parsing error with new go-client"
we lost the ability to report that a driver can't parse source code.

Here is an issue and comment about it in client-go: bblfsh/client-go#82 (comment)

According to LA team, it's impossible right now to tell was it driver error or not.
As soon as the library adds a way to recognize parsing errors we must adapt it here.

[2018-10-19 14:59] smacker opened #163 "Error display is broken in FF (master)"
When there is an error happens no notification is shown. It happens due to the restriction of adding custom properties to error type instances in FF.

[2018-10-22 17:46] #161 closed

[2018-10-23 09:09] smacker commented on #143
Fixed in master. The only problem left: https://github.com/bblfsh/web/issues/162

[2018-10-23 09:09] #143 closed

[2018-10-23 09:11] smacker commented on #158
@ricardobaeta maybe you could help us here?

[2018-10-23 10:34] #148 closed

[2018-10-24 13:50] dennwc commented on #162
Fixed in bblfsh. Make sure you have the latest `client-go.v3` installed, `bblfshd` 2.9.x and `go-driver` 2.3.x (more drivers to come). Check https://github.com/bblfsh/sdk/pull/321 for details on supported error codes.

[2018-10-25 13:32] #162 closed

[2018-10-26 13:37] smacker commented on #159
Fixed in 0.8.0:
<img width="300" alt="screen shot 2018-10-26 at 15 36 27" src="https://user-images.githubusercontent.com/406916/47569823-f9f65f80-d934-11e8-9d55-6af081a42e34.png">

[2018-10-26 13:37] #159 closed

[2018-10-30 19:03] smacker opened #172 "when there is no results after search we should inform user"
Currently, when nothing is found we show an empty page. But it must be the message `Nothing found` as before.

[2018-11-02 10:08] #172 closed

[2018-11-19 16:07] smola opened #176 "Use double dash for long CLI options"
For consistency with our other tools, use `--` for long CLI options.

[2018-11-19 16:12] smola opened #177 "Broken when behind a proxy with a path other than /"
I'm trying to access a bblfsh-web instance with Kubernetes proxy, which generates a URL like this: `http://localhost:8080/api/v1/namespaces/mynamespace/services/bblfsh-web-bblfsh-web/proxy/`

Since all assets as well as the API are referenced as absolute paths, this breaks the logo image as well as all API calls. For example, clicking on parse will give a 404 error, since it tries `http://localhos

[2018-11-30 22:01] bzz opened #181 "play.bblf.sh - unexpected output of /version"
Visiting https://play.bblf.sh/version (or `/anything`) produces output that is does not seem to be very useful.

[2018-12-04 08:38] aliciakozlowski opened #182 "Blank screen using Native Parser on certain code examples"
During my [Empathy Session](https://github.com/src-d/empathy-sessions/issues/30) I was messing around in the playground and using certain code examples, when you click the button to use the native parser, the entire screen goes blank and the only way to "escape" or go back is to refresh the page which sets you on the original landing example.

This seems to happen if you choose the example code fi

[2018-12-08 16:32] ricardobaeta commented on #158
HI @smacker !

Sorry for taking so long.

![image](https://user-images.githubusercontent.com/1746146/49688234-ccd9c700-fb06-11e8-8aec-aed0424b975b.png)

[2018-12-18 16:45] dpordomingo commented on #118
_from @smacker report at https://gist.github.com/smacker/af6b40ac6df44238cd1519ee698728f5_

# gRPC-web status

gRPC-Web is now Generally Available, and considered stable enough for production use.

It needs standalone proxy. Currently only [Envoy](https://www.envoyproxy.io/) can be such a proxy.

Implementation details:

 - custom wire format grpc-web, not gRPC over HTTP2 as proposed before
 - wir

[2018-12-18 17:00] #118 closed

[2019-01-07 17:30] se7entyse7en commented on #177
I'm currently working on a solution that fixes this issue, but it works at **build** time. That's because it needs to modify the `homepage` attribute of the `package.json` file that is used during the build of `index.html`.
Hence for each path other than root on which we want to run the server we need to build a docker image.
Does this approach satisfy our needs?

[2019-01-08 09:51] smacker commented on #177
@se7entyse7en you already can change api url by using `SERVER_URL` env variable during build time.

[2019-01-08 09:59] se7entyse7en commented on #177
@smacker yup, in fact what I've done so far:
1. add a `-root-path` (default `/`) that is used as a prefix for each urls that are mounted to the server, 2. modified the `Makefile` in order to build against a specified `ROOT_PATH` passed as env var.

To make things easier I tested it using a simple nginx configuration instead of Kubernetes proxy it is working fine. I just have to fix some little iss

[2019-01-08 10:06] smacker commented on #177
1. Build time is a bad solution. We release docker image with already built static there. You may take a look at gitbase-web or lookout-web to see how to change server url in runtime (on server start).
2. @smola will give you a better answer about his use case but usually, if you access service through proxy you can't hard-code configuration for that proxy on server side. Because a) result urls ca

[2019-01-08 10:13] se7entyse7en commented on #177
1. I also think that runtime solution would be the best fit, I'm gonna take a look at the other repos you mentioned in order to see how this has been achieved then.
2. Yup, in fact I haven't hardcoded the root path, but it has to be specified when building the image. Just to be clearer here how I currently build the image:

        ROOT_PATH="/bblfsh/" make build && docker build -t bblfsh/web

whe

[2019-01-08 11:32] smola commented on #177
Isn't it possible to just use relative URLs? That way the web would work both if accessing directly or through the proxy.

Otherwise, setting the URL as a runtime parameter would also work. As @smacker said, build time is not an option, since this will be set by src-d/engine or a Helm chart at deploy time based on the official Docker image.

[2019-01-08 11:36] smacker commented on #177
@smola I believe we can use relative URLs here. We still need env variable (at least for development when we run frontend and API on different ports). But in production image, we can set it as `./`.

Though it's not as simple as just changing current default :)

[2019-01-08 11:37] se7entyse7en commented on #177
Okay, I'm dig in deeper then and try making it work with relative urls. Thanks guys!

[2019-01-11 13:10] mccurdyc opened #186 "UX: Selecting "Language" should choose "Example" in respective language"
## Expected Behavior

When selecting a new language from the "Language" drop-down, an Example in that language should be presented.

## Current Behavior

When selecting a new language from the "Language" drop-down, the Example remains as the previously selected, or default, value.

[2019-01-22 16:50] dennwc opened #187 "Timeout errors are not visible to the user"
### Steps to reproduce:
1) Go to http://play.bblf.sh
2) Change language to "JavaScript"
3) Paste a large file ([example](https://github.com/bblfsh/javascript-driver/blob/master/fixtures/bench_nodes.js))
4) Click "Parse"

### What happens
Nothing. there is still an old UAST in the right panel and no indication of failed parse request.

### What is expected
Looking at the console, there is clearly a

[2019-01-22 16:53] dennwc opened #188 "UAST is not cleared when parsing"
### Steps to reproduce:
Same as in #187.

### What happens
An old UAST in the right panel is displayed even when Parse is clicked, or the language is changed.

### What is expected
UAST is cleared (or "disabled") when:
- Code changes (an example is switched or code is modified).
- Language is switched.
- "Parse" is clicked.

[2019-01-22 16:56] dennwc opened #189 "Popup displays too many syntax errors"
### Steps to reproduce:
1) Go to http://play.bblf.sh
2) Switch to "Java" language
3) Paste a large JavaScript file ([example](https://github.com/bblfsh/javascript-driver/blob/master/fixtures/bench_nodes.js))
4) Click "Parse"

### What happens
A giant popup with syntax error appears to the left. It cannot be closed easily.

### What is expected
The number of syntax errors is limited to a reasonable

[2019-01-22 16:57] dennwc opened #190 "Auto-detect language when code is pasted"
I'm wondering if it's possible to refresh the detected language when the code is pasted and the language is set to "Auto"?

[2019-01-22 17:02] smacker commented on #190
Currently we "detect" language using bblfsh. So we need to parse it to get the lang.

I proposed to use js-based detection before for gitbase-web but it was discarded.
In theory we can "parse" in background on paste event without updating UAST on the right side.

[2019-01-22 17:13] dennwc commented on #190
We can also expose language detection API on `bblfshd` side to make this happen.

[2019-01-23 15:55] smacker opened #192 "Use the same way to handle go-bindata as other projects"
Looks like now we have to commit `asset.go`, but it could be avoided as done in other projects.

[2019-01-24 15:02] dpordomingo commented on #190
How would it work @dennwc ?

Should it try to guess the lang every time it is detected an `onpaste` event?

Could it lead to weird language detections?

Should it only work when the whole input area is completely replaced with text from the clipboard? (I'm not sure if it can be done without workarounds)

What if the whole input area is completely replaced with a key press, or typing new code?
shou

[2019-01-24 15:17] dennwc commented on #190
I think detecting on input will be a bit too extreme. `onpaste` looks practical enough, I guess.

[2019-01-24 15:27] creachadair commented on #190
How well will the detection we currently support work with just plain text and no filename?

[2019-01-24 15:42] dpordomingo commented on #192
I think it's the opposite; we're [not pushing `assets.go` file in new projects](https://github.com/src-d/lookout/blob/master/.gitignore#L19).
But [we starting using `esc`](https://github.com/src-d/lookout/pull/438).

[2019-01-24 16:19] smacker commented on #192
I mean we have to push `asset.go` right now for bblfsh/web. And I propose to change it.
esc or bindata isn't very important.

[2019-01-24 16:21] smacker commented on #190
It does not work almost at all. Bblfsh uses enry to detect language and enry detects it based on filename.

[2019-01-24 16:31] dpordomingo commented on #192
updated the issue description to reflect that. Thanks!

[2019-01-24 16:33] dennwc commented on #190
@smacker Enry also uses other heuristics. A filename is only one of them.

[2019-01-24 16:36] creachadair commented on #190
It does, but the filename seems to be a very important one. So my question was real—I am not sure how well Enry will do in the case where no filename is inferred.

[2019-01-24 16:42] smacker commented on #190
@dennwc it's true. But the last time I checked it almost never could guess the lang correctly without filename. You can see it in gitbase-web. We actually use enry there. But still you have to choose language manually in 99.99% cases.

[2019-02-16 21:50] vmarkovtsev opened #195 ""Bad" Java file shows blank screen"
Steps to reproduce:

1. Insert the contents of `killer.java` to play.bblf.sh
2. Click "run parser"

You will see an absolutely white web page.

<details>
<summary>killer.java</summary>
<pre>
/**
 *    Copyright (C) 2012 ZeroTurnaround LLC <support@zeroturnaround.com>
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with t

[2019-02-17 13:34] smacker commented on #195
Duplicate of #182 and https://github.com/src-d/gitbase-web/issues/304 most probably

[2019-02-17 18:02] vmarkovtsev opened #196 "@type XPath does not work in Semantic mode"
I search by `//*[@type='uast:FunctionGroup']` XPath in Semantic mode and get 0 results. Tried Go and Python samples. This is unexpected, because, e.g. `//*[@role='Comment']` works.

Having played a little, I see that no `@type`-based XPath works for all the samples.

P.S.
`//name` in Java and `//Name` in Go work, too.

[2019-02-17 18:11] dennwc commented on #196
`@type` maps directly to XML node name/type, so should be: `//uast:FunctionGroup`.

[2019-02-17 18:21] vmarkovtsev commented on #196
This indeed works.

[2019-02-17 18:21] #196 closed

[2019-02-17 18:25] vmarkovtsev commented on #196
Right, RTFM: it is written in the docs.

[2019-03-01 18:09] smacker commented on #192
Sorry, this issue wasn't in TODO but it annoys me A LOT every time I do anything in this project. And I spend more time figuring out why my changes don't work, then figuring how to re-create assets, push and so on than just freaking fixing it once and for all.

[2019-03-07 16:52] smacker opened #201 "Update server to utilize ServerURL and FooterHTML of new static handler"
To be consistent with other projects.

[2019-03-07 16:53] #192 closed

[2019-03-07 16:53] #182 closed

[2019-03-07 16:53] #195 closed

[2019-03-11 11:16] smacker opened #203 "Check why blank screen fix doesn't work on staging"
Possible reasons:
1. Fix conflicts with some other changes we made in bblfsh-web
1. The new version wasn't deployed correctly
2. Something wrong with the build

What to check:
1. Test locally in dev mode (that is the only test I did for PR), better with clean state of git
2. `make package` and test using binary
3. Find how to connect to staging and make sure it runs the latest version

[2019-03-12 10:56] #158 closed

[2019-03-12 11:15] smacker commented on #203
the problem is in deployment. I created an issue for infra guys: https://github.com/src-d/infrastructure/issues/545

Closing this one.

[2019-03-12 11:15] #203 closed

[2019-03-12 11:54] smacker commented on #187
it was partly fixed on master. Now it shows "internal error":
<img width="1110" alt="Screenshot 2019-03-12 at 12 53 43" src="https://user-images.githubusercontent.com/406916/54198097-ec95d800-44c5-11e9-81de-60bfe4f29df0.png">

[2019-03-12 15:31] dpordomingo commented on #187
@smacker I think we should try to show that it was a timeout error, shouldn't we?
And even better if the dashboard can also say in which part of the communication did it happened

[2019-03-12 15:51] smacker commented on #187
that's why I said "partially".

[2019-03-19 17:18] 0bserver07 opened #206 "Python parser is broken"
[code]

[2019-03-19 17:35] smacker commented on #206
Thanks for the report!

We recently discovered a bug that breaks python driver and bblfsh isn't able to restart it automatically in this case.
It was restarted and should work now.

[2019-03-19 17:35] #206 closed

[2019-04-04 11:59] carlosms commented on #131
What's the status of this after #192?

[2019-04-04 12:15] smacker commented on #131
no assets - no need for validation 🎉

[2019-04-04 12:15] #131 closed

[2019-04-09 11:20] dpordomingo opened #208 "Migrate from bblfsh/client-go to bblfsh/go-client"
related to src-d/gitbase-web/issues/401
related to src-d/engine/issues/418

https://github.com/bblfsh/client-go is now deprecated, we need to start using https://github.com/bblfsh/go-client.

[2019-04-10 15:17] bzz opened #209 "play.bblf.sh - missing Cpp language"
A https://github.com/bblfsh/cpp-driver is one of the `beta` state, recommended drivers https://doc.bblf.sh/languages.html#supported-languages but right now it seems to be missing from the playground.

[2019-04-10 17:57] creachadair commented on #209
Unless I missed something, it looks like the list of languages matches what is in the [helm config](https://github.com/bblfsh/web/blob/52cb20ac7f34d9cbdd8484a06bdec4a1eaa6e681/.helm_production.yml#L26). I haven't fully understood the deployment yet, though—the Makefile doesn't appear to generate any static listing and I am assuming the sidecar reports its language list.

[2019-04-10 18:21] smacker commented on #209
the list of languages come from [the api response from bblfshd](https://github.com/bblfsh/web/blob/master/server/drivers.go#L41).
But if you want to PR support for C++ it will also require c/cpp example in [src/examples](https://github.com/bblfsh/web/tree/master/src/examples) directory and update the list of examples in the [store](https://github.com/bblfsh/web/blob/master/src/state/examples.js#L2

[2019-04-11 13:18] smacker commented on #190
I tried with linguist and it couldn't recognize language by default also.
But calling it with a list of candidates ("Go", "Python", "JavaScript", "Ruby", "Java" aka supported languages from bblfshd) worked for all my examples.

The same trick with enry didn't work most probably because content classifier in enry is [very outdated](https://github.com/src-d/enry/issues/193).

We should return to thi

[2019-04-11 17:58] smacker commented on #187
Current bblfshd and client-go don't have default timeouts anymore. We don't add any timeout too.
So this bug isn't reproducable locally anymore.

In a hosted enviroment proxy can timeout and this error is displayed correctly (I saw it but I can't reproduce it anymore for a screenshot, bblfshd became too fast).

So here is nothing to fix.

But I added correct handling of request cancelation & corre

[2019-04-12 11:18] #188 closed

[2019-04-12 11:18] #189 closed

[2019-04-12 11:19] #187 closed

[2019-04-18 10:20] #208 closed

[2019-05-06 16:35] dennwc opened #215 "No UAST is rendered for a valid query"
### Steps to reproduce
1. Go to https://play.bblf.sh, select `classdef.py`.
2. Use XPath: `//python:ClassDef/body` - it works, you can see `body_stmts` field.
3. Use XPath: `//python:ClassDef/body/*/body_stmts` - nothing is rendered.
4. Do the same with Network tab opened - you can clearly see a non-empty response.

[2019-07-19 18:12] dpordomingo opened #221 "Read the logging level from an environment var"
caused by https://github.com/src-d/sourced-ce/issues/142

`bblfsh-web` command is now using `flag` and `github.com/sirupsen/logrus` instead of our standard `go-cli`, so it's not possible to control the logging level from the outside with env variables as it would be desirable.

We could maybe migrate to `go-cli`.

[2019-07-30 16:34] dennwc commented on #215
It seems like it was fixed for array nodes, but not for values.

Can be reproduced by running this query on any file: `//uast:Identifier/Name`. The server will respond with an array of string values, while the UI will show no results at all. Same can happen for arrays of numbers, bools, etc.

[2019-08-03 15:07] ricardobaeta opened #223 "Disabled Buttons Usability (Load & Share & Search)"
## Problem

A button should always provide visual feedback upon people's interaction - hover/click - despite being disabled. This rule is not being applied to the disabled buttons LOAD & SHARE & SEARCH.

## Solution

One step forward on plain usability is to add a “not-allowed” cursor when people :hover disabled LOAD & SHARE & SEARCH. With this solution, we provide enabled & disabled interaction b

[2019-08-08 12:40] #215 closed

[2019-09-12 10:56] smacker opened #226 "Filter `//uast:FunctionGroup/Nodes` breaks UI"
subj

[2019-10-28 11:49] #221 closed

[2020-04-10 18:30] david972 commented on #181
We will try to redeploy all website as sons as we get web source.

[2021-05-25 11:44] david972 opened #242 "fix-dns-packet-vuln"
dns-packet@^5.2.2:
  version "5.2.2"